* {
    font-family: Maple Mono NF CN;
    background: transparent;
    color: #d8cab8;
    font-size: 18px;
}

#window {
    color:#d8cab8;
    border-color: #d8cab8;
    border-style: solid;
    border-width: 1px;

    background-image: linear-gradient(to bottom, #1c1c1c 100%);
    border-radius: 16px;
    margin-bottom: 10px;
}

#scroll {
    border-top-style: solid;
    border-width: 1px;
    border-color: #d8cab8;
    padding-top: 10px
}

#innerbox {
    padding-top: 12px;
}
#entry {
  border-style: none;
  border-color: #d8cab8;
  color: #d8cab8;
  padding: 8px 6px;
  margin-bottom: 8px;
  margin-left: 40px;
  margin-right: 40px;

  border-radius: 12px;
}

#entry:selected {
  background: #27232b;
  color: #d8cab8;
  font-weight: bold;
  outline: none;
}

#input {
  background-color: #1c1c1c;
  color: #d8cab8;
  border-color: #d8cab8;

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 12px;
  margin: 8px;
}
#input:focus {
  background: #27232b;
  background-color: #27232b;
  border-color: #7d4db3;
  font-style: italic;
}

#img {
  padding: 4px;
  margin-right: 6px;
}